<div class="container" *ngFor="let item of moviesList$|async">
    <div class="row row-cols-auto">
        <a class="col" href="">
            <div class="card " style="width: 18rem;">
                <input type="hidden" value="{{item.id}}" />
                <img src="{{item.imageMovie}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">{{item.titleMovie}}</p>
                </div>
            </div>
        </a>
    </div>
</div>